<h3>Address</h3>
<div>
  <label>
    <span>Street</span>
    <input class="input input-bordered" type="text" [ngModel]="address?.street" name="street" />
  </label>
</div>
<div>
  <label>
    <span>City</span>
    <input class="input input-bordered" type="text" [ngModel]="address?.city" name="city" />
  </label>
</div>
<div>
  <label>
    <span>Zipcode</span>
    <input class="input input-bordered" type="text" [ngModel]="address?.zipcode" name="zipcode" />
  </label>
</div>
<div>
  <label>
    <span>Number</span>
    <input class="input input-bordered" type="text" [ngModel]="address?.number" name="number" />
  </label>
</div>
<div>
  <label>
    <span>Country</span>
    <input class="input input-bordered" type="text" [ngModel]="address?.country" name="country" />
  </label>
</div>